!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Cm Microfavors'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    = render 'layouts/messages'
    .container
      = yield
      %p Need something else? Tell us more?
      %p Not finding what you are looking for? You can get more indepth help with your job search questions by visiting your local career center.
